* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --one-color: rgb(255, 255, 255);
    --two-color: #000000;
    --three-color: rgb(4, 49, 107);
    --four-color: rgb(100, 85, 63);
    --five-color: rgb(40, 92, 47);
    --six-color: rgb(19, 196, 202);
    --seven-color: rgb(233, 0, 202);
}

body {
    color: var(--one-color);
    font-family: Arial, Helvetica, sans-serif;
}


.page-title {
    color: var(--five-color);
    font-weight: bold;
}

.page-title span {
    color: var(--six-color);
    font-weight: bold;
}


/* header section start */

header {
    background-color: var(--two-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 2vw;
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
    color: var(--five-color);
}

header nav {
    margin: 10px 10px;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 2vw;

}

header nav ul li a:hover {
    background-color: var(--six-color);
    color: var(--two-color);
    border-radius: 5px 40px;
    font-weight: bold;
}

/*header section end */

/* start of footer section */

footer {
    background-color: var(--two-color);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer div a {
    color: var(--six-color);
}

/* end of footer section */

/* hero section start */

.hero {
    color: var(--two-color);
    background-image: url('../images/composite-v2.jpg');
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 1000px;
    flex-flow: column wrap;
}

.hero h2 {
    color: var(--five-color);
    font-size: 5vw;
    padding: 10px;
}

.hero h2 span {
    color: var(--six-color);
}

.hero p {
    font-size: 1.5vw;
    font-weight: lighter;
    text-shadow: #000000 -2px 1px;
    color: var(--one-color);
    opacity: 0.5;
    font-style: italic;
}

/* end of hero section */




